body{
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #fff9f4;
}
.shoe-img{
    width: 95%;
    background-color: #F1F1F1;
    border-radius: 10%;
    margin: 0 auto;

}
.h2-color{
    color: #F9804B;
    font-weight: bold;
}
.perfect-image img{
    width: 75%;
}
.perfect-border{
    border-radius: 20px !important;
}
.img-resize img{
    width: 100%;
}
.btn-customize{
    background-color: #3848D3;
    padding: 15px 25px;
    border-radius: 20px;
    color: white;
    font-size: 20px;
}
